@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", serif;
}

.page-start {
  height: 100vh;
  width: 100vw;
  background: no-repeat;
  background-size: contain;
  background-image: url("/assets/picture/fon.png");
  background-position: center;
}

.page-start__wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.landing-text__title {
  font-size: 60px;
  color: #61c9ff;
}

.landing-text__text {
  font-size: 18px;
  font-style: italic;
}

.image {
  height: 25px;
  padding-left: 5px;
}

.page-start__btn {
  height: 45px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(1.25);
  box-shadow: 2px 2px 2px 1px;
}

.btn-instruction {
  width: 180px;
  background-color: #87ceeb;
  border: 1px solid #4682b4;
  box-shadow: 1px 1px 1px 1px #87ceeb;
}

.btn-start {
  width: 100px;
  background-color: #32cd32;
  border: 1px solid #228b22;
  box-shadow: 1px 1px 1px 1px #32cd32;
}

.game-page {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.game-page__wrapper {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}

.action {
  width: 50%;
  height: 100%;
  background: url("/assets/picture/bgAction.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.action__bg {
  width: 100%;
  height: 50%;
  background: url("/assets/picture/island.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wave {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.waveStart {
  position: relative;
  bottom: 0;
  height: 5%;
  background-color: #0ff;
}

.wave0 {
  width: 100%;
  position: relative;
  bottom: -8%;
  height: 9%;

  display: flex;
  flex-direction: row;
}

.wave0_1,
.wave0_2,
.wave0_3,
.wave0_4 {
  height: 50%;
  width: 300%;
  background-color: #0ff;
  box-shadow: -2px -3px rgb(123, 231, 222);
  border-radius: 50%;
  animation: waveAction 2s linear infinite;
}




.wave1,
.wave2,
.wave3 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.wave1 {
  bottom: -8%;
  height: 9%;
}
.wave2 {
  bottom: -8%;
  height: 9%;
}

.wave3 {
  bottom: -8%;
  height: 9%;
}

.supportWave {
  bottom: 0%;
  height: 7%;
  background-color: #0ff;
}

@keyframes waveAction {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.control {
  width: 25%;
  height: 100%;
  background-image: url("/assets/picture/controlFon.jpg");
}

.hide {
  display: none;
}
